body,
form {
    display: flex;
    flex-direction: column;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Remove the scrollbar that was created by the default margin */
    margin: 0;
}

form,
button,
.result-container {
    font-size: 18px;
}

form {
    gap: 35px;
    border: 2px solid black;
    padding: 15px;
}

label {
    margin-bottom: 3px;
}

input {
    font-size: 20px;
}

.action-button {
    padding: 8px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template: 130px 130px 130px / 130px 130px 130px;
}

.game-button {
    font-size: 70px;
}

.hide-element {
    display: none;
}