body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border: 2px solid black;
    padding: 15px;
    font-size: 18px;
}

label {
    margin-bottom: 3px;
}

input {
    font-size: 20px;
}

button {
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
}

.hide-element {
    display: none;
}